/*
 Theme Name:   adi
 Description:  Theme for Autodidaktische Initiative
 Author:       Vitali Homenko
 Template:     twentyfourteen
 Compatible with: at least 1.7
 Version:      1.0
 License: GNU General Public License v2 or later
*/

@import url("../twentyfourteen/style.css");


.site-title {
	max-width: -webkit-calc(100% - 43px);
	max-width: calc(100% - 43px);
	display: initial;
}

.menu-toggle {
	background-color: transparent;
}

.menu-toggle:hover, .menu-toggle:active, .menu-toggle:focus {
	background-color: #007fd3;
}

body, .site:before, #secondary, .site-header, .site-footer {
	background-color: #0071bc;
}

#secondary {
	border: 0;
}

#secondary aside:last-of-type {
	margin-bottom: 0;
}

#adi_logo {
	display: none;
}

#adi_news article:last-of-type {
	position: relative;
	margin-top: -1em;
	margin-bottom: 2em;
}

a {
	color: #0071bc;
	text-decoration: none;
}

a:active,
a:hover,
.site-content a:active,
.site-content a:hover,
.entry-meta a:hover {
	color: #007fd3;
	text-decoration: underline;
}

.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a,
.site-title a:hover {
	text-decoration: none;
}

.entry-content a:hover,
.entry-summary a:hover,
.page-content a:hover,
.comment-content a:hover {
	text-decoration: underline;
}

.site-info a:hover,
.widget a:hover {
	color: #efffff;
	text-decoration: underline;
}

.entry-content .edit-link a:hover {
	color: #007fd3;
}

.entry-title a,
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active{
	color: #b63c00;
}

.entry-meta .tag-links a:hover {
	background-color: #0071bc;
	color: #fff;
}

.entry-meta .tag-links a:hover:before {
	border-right-color: #0071bc;
}

button, 
input[type="button"],
input[type="reset"], 
input[type="submit"] {
	background-color:#0071bc;
}

button:active, 
input[type="button"]:active,
input[type="reset"]:active, 
input[type="submit"]:active,
button:hover, 
input[type="button"]:hover,
input[type="reset"]:hover, 
input[type="submit"]:hover,
button:focus, 
input[type="button"]:focus,
input[type="reset"]:focus, 
input[type="submit"]:focus {
	background-color:#007fd3;
}

.mc_form_inside > div {
	max-width: 250px;	
	text-align: left !important;
}

.widget button, 
.widget input[type="button"],
.widget input[type="reset"], 
.widget input[type="submit"] {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.widget input[type="button"]:active,
.widget input[type="reset"]:active,
.widget input[type="submit"]:active,
.widget input[type="button"]:hover, 
.widget input[type="reset"]:hover, 
.widget input[type="submit"]:hover, 
.widget input[type="button"]:focus, 
.widget input[type="reset"]:focus, 
.widget input[type="submit"]:focus {
	background: rgba(255, 255, 255, 0.2);
}

.site-navigation .current_page_item > a,
.site-navigation .current_page_ancestor > a,
.site-navigation .current-menu-item > a,
.site-navigation .current-menu-ancestor > a,
.site-navigation a,
.site-navigation a:hover {
	color: #fff;
}

.entry-content,
.entry-summary,
.page-content,
.comment-content,
.widget,
.nav-links {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	word-wrap: normal;
}

.entry-header {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
}

.paging-navigation {
	border-top: 5px solid #0071bc;
}

.paging-navigation .page-numbers.current {
	border-top: 5px solid #fff;
}

.paging-navigation a:hover {
	border-top: 5px solid #007fd3;
}

#footer-sidebar {
	padding-top: 24px;
}
#footer-sidebar aside {
	margin-bottom: 24px;
}


.support_box {
	width:112px;
	background-color: #fff;
	border: 5px solid #fff;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
}


.small_right {
	font-size: 0.7em;
	float: right;
	margin-top: 0.5em;
}


@media screen and (min-width: 783px) {
	h1.site-title {
		display: none;
	}
	
	#masthead.site-header {
	    z-index: 180;
	}

	#secondary {
		z-index: 200;
	}

	.primary-navigation ul ul a,
	.primary-navigation li:hover > a,
	.primary-navigation li.focus > a {
		background: #007fd3;
	}

	.primary-navigation ul ul a:hover,
	.primary-navigation ul ul li.focus > a {
		background: #0071bc;
	}
	
	#adi_logo {
		display: block;
		font-style: italic;
	}
	
	#adi_logo span {
		display:block;
	}
	
	#primary-sidebar aside {
		position:relative;
		top: -3.12em;
	}

	.entry-header {
		padding: 0;
	}

	.site-content .archive-header,
	.site-content .entry-header,
	.site-content .entry-content,
	.site-content .entry-summary,
	.site-content .entry-meta,
	.page-content {
		margin: 0 auto;
		max-width: 574px;
	}

	.site-content .archive-header {
		margin-bottom: 2em;
	}
	
	.site-content .adi_frontseite article.page,
	.site-content .adi_frontseite #adi_news {
		display: inline-block;
		vertical-align: top;
	}
	
	.site-content .adi_frontseite article.page {
		width: 373px;
		margin-left: 20px;
	}

	.site-content .adi_frontseite #adi_news {
		width: 360px;
		margin-left: 20px;
	}
	
	.entry-header {
		-webkit-hyphens: auto;
		-moz-hyphens:    auto;
		-ms-hyphens:     auto;
		hyphens:         auto;
		word-wrap: normal !important;
	}
}

@media screen and (min-width: 1080px) {
	.site-content .adi_frontseite article.page {
		width: 46%;
		margin-left: 2%;
	}

	.site-content .adi_frontseite #adi_news {
		width: 46%;
		margin-left: 2%;
	}

	.support_box {
		width:150px;
	}
}


div.wppa-box {
	border-width: 0px !important;
}


::selection {
	background: #0071bc;
	color: #fff;
	text-shadow: none;
}

::-moz-selection {
	background: #0071bc;
	color: #fff;
	text-shadow: none;
}



#search-container, .search-toggle, .post-navigation, .author {
	display: none;
}
